.formerino{
    background-color: rgb(127, 189, 27);
    border: dotted 20px #806E28;
    border: double 20px green;
    padding:auto;
    //one-lip kiss common among couples
    padding: 5%;
    width: 100%;
    margin-left: 200%;
    color:#353535;
    .title{
    
    }
    .desc{

    }
    .status{

    }
.urgent{
    .urgentbutton{
        
    }
}
}
