  <!-- <form (submit)="onSubmit()" class="form">
    <p>title</p>
    <input type="text">
    <p>description</p>
    <input type="text">
    <p>status</p>
    <select name="" id=""></select>
  </form> -->

  <form>
    <div>
      <label for="title">Title</label>
      <input #box (keyup)="onKeyTitle($event)"  type="text" id='title' required>
    </div>
    <div>
      <label for="description">Description</label>
      <input #box (keyup)="onKeyDesc($event)" type="text" id='description'>
    </div>
      <div>
        <label for="status">Task Status</label>
        <select name="status" id="status" required>
          <option  #box (keyup)="onKeyDesc($event)" *ngFor="let stat of status" [value]='stat'>{{stat}}</option>
        </select>
      </div>
      <div>
        <label for="urgent">Urgent</label>
        <input type="checkbox">
      </div>
    <button type="submit">Submit</button>
    </form>