  <!-- <form (submit)="onSubmit()" class="form">
    <p>title</p>
    <input type="text">
    <p>description</p>
    <input type="text">
    <p>status</p>
    <select name="" id=""></select>
  </form> -->
  <div *ngIf="!back" (click)="onBack()"> <button>Back</button> </div>
  
  <div *ngIf="back" >
    <app-root></app-root>
  </div>
<div class="formerino" >
  
    <div class="title">
      <label for="title">Title:</label>
      <input [(ngModel)]="task.title" type="text" id="title" required>
    </div>

    <div class="desc">
      <label for="description">Description:</label>
      <input [(ngModel)]="task.description"  type="text" id='description'>
    </div>

      <div class="status">
        <label for="status">Task Status:</label>
        <select [(ngModel)]="task.state"  name="status" id="status" required>
          <option disabled selected>State</option>
          <option  *ngFor="let stat of status" [value]='stat'>{{stat}}</option>
        </select>
      </div>

      <div class="urgent">
        <label  for="urgent">Urgent:</label>
        <input class="urgent-button" type="checkbox">
      </div>
    <button type="submit" (click)="onSubmit()">Submit</button>
   
  </div>
