.formerino {
    background-color: rgb(173, 173, 173);
    border: inset 5px rgb(199, 61, 199);
    border-radius: 2%;
    //padding: auto;
    padding: 25px;
    
    width: 100%;
    color: #353535;
    display: flex;
    justify-content: center;
    
    margin-top: 5%;
    
    .title {}

    .desc {}

    .status {}

    .urgent {

        .urgent-button {}
    }

    button {
        
       margin-left: 5px;
        
        height: 20%;
        
    }
}