.header {
  text-align: center;
  height: 90px;
  background-color: dimgrey;
  padding: 1%;
  h1
  {
 
  }
}
.body {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    app-list {
      flex: 1;
    };
    button{
      color: black;
      background-color: lightgray;
      border:outset gray;
    }
  }
}
