<div *ngFor="let task of list">
  <div class="task">
    <span class="title"> {{task.title}}</span>
    <span class="description"> {{task.description}}</span>
    <span class="state text-center" [ngClass]="{
        'badge-secondary': task.state === 'To Do',
        'badge-info': task.state === 'In Progress',
        'badge-success': task.state === 'Done'
        }">
      {{task.state}}
    </span>
    <div class="urgent">
      <i *ngIf="task.urgent" class="fa fa-exclamation-triangle"></i>
    </div>
  </div>
</div>
